body {font-family: 'Arial', sans-serif; 
    color: #37378f; 
    line-height: 1.6;
    padding: 20px;}

h1 {font-style: italic; 
    font-weight: bold; 
    color: #000000;
 line-height: 1.6;
    padding: 20px;
    text-align: center;}
div {color: #ffffff;
    background: linear-gradient(to bottom, #4b4b4b, #ffffff);
    height: 500px;padding-top: 250px;}
h2 {font-style: italic; 
    font-weight: bold; 
    color: #000000;
 line-height: 1.6;
    padding: 20px;
    text-align: center;}
h3 {font-style: italic; 
    font-weight: bold; 
    color: #000000;
 line-height: 1.6;
    padding: 20px;
    text-align: center;}
h4 {font-style: italic; 
    font-weight: bold; 
    color: #000000;
 line-height: 1.6;
    padding: 20px;
    text-align: center;}
ul li {
  display: inline;
  margin: 115px;}
ul {
  list-style-type: none; 
}

li::before {
  content: "😊"; 
  margin-right: 5px; ul 
}
